<div class="outer-container">
    <div class="inner-container">
        <div class="mt-3">
            <h4 style="text-align: center;">Check the Name if Exist or Not..?</h4>
        </div>
        <div class="row d-flex align-items-center justify-content-center mt-3">
            <div class="col-lg-12 d-flex align-items-center justify-content-center">
                <textarea placeholder="Enter the names to store" rows="4" [(ngModel)]="names" class="text-box" (change)="storeNames()"></textarea>
            </div>
        </div>
        <div class="row d-flex align-items-center justify-content-center mt-3">
            <div class="col-lg-12 d-flex align-items-center justify-content-center">
                <input type="text" placeholder="Enter the name" [(ngModel)]="name" class="text-box" (change)="checkName()" />
            </div>
        </div>
        <div class="mt-5">
            <h3 style="text-align: center;font-weight: 600;color: red;">{{result}}</h3>
        </div>
    </div>
</div>