<div class="container-fluid navbar">
  <div class="container navbar-container">
    <div class="nav-logo">
      <h4>MST Assignment I</h4>
    </div>
    <div>
      <ul class="navbar-links">
        <li class="nav-links">
          <a routerLink="/buttonclick">Click Count</a>
        </li>
        <li class="nav-links">
          <a routerLink="/mobilenovalidation">Validate Mobile Number</a>
        </li>
        <li class="nav-links">
          <a routerLink="/namechecking">Check the Name</a>
        </li>
        <li class="nav-links">
          <a routerLink="/student">Student</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>